html {
	font-size: 17px;
	font-family: 'Open Sans', Helvetica, sans-serif;
}

body {
	margin: 0;
}

.content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	/*! margin-top: 1rem; */
}

.hidden {
	display: none;
}

.hidden-label {
	border: 0px;
	-webkit-clip: rect(0px, 0px, 0px, 0px);
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0px;
	overflow: hidden;
	position: absolute;
}

h1 {
	font-family: 'Open Sans', Verdana, sans-serif;
	font-weight: bold;
	font-size: 2.375rem;
	line-height: 1.3;
	color: #333333;
}

h2 {
	font-family: 'Open Sans', Verdana, sans-serif;
	font-weight: 600;
	font-size: 1.825rem;
	line-height: 1.4;
	color: #333333;
}


h3 {
	font-family: 'Open Sans', Verdana, sans-serif;
	font-weight: normal;
	font-weight: 600;
	font-size: 1.3rem;
	line-height: 0.5;
	color: #333333;
	/*! margin-top: 0; */
}

h4 {
	font-family: 'Open Sans', Verdana, sans-serif;
	font-weight: normal;
	font-size: 1.25rem;
	line-height: 1.5;
	color: #333333;
}

h5 {
	font-family: 'Open Sans', Verdana, sans-serif;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5;
	color: #333333;
}

h6 {
	font-family: 'Open Sans', Verdana, sans-serif;
	font-weight: normal;
	font-size: 0.875rem;
	line-height: 1.5;
	color: #333333;
}

p {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	color: #333333;
	letter-spacing: 0;
	text-align: left;
	line-height: 1.5;
}

/* HEADER */

header {
	background: #112E51;
}

.navbar-logo img {
	max-width: 300px;
}

/* END HEADER */

/* BODY */
.hero {
	max-width: 100vw;
	height: 200px;
	background-image: url("images/hero-image.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.bordered {
	border: 1px solid #707070;
}

#action-buttons {
	display: flex;
	justify-content: flex-end;
	/*! margin-top: 20px; */
}

.btn {
	background: #205493;
	color: white;
	text-decoration: none;
	padding: 0.45rem 0.9rem;
	font-size: 0.9rem;
	font-weight: 600;
	border-radius: 4px;
	margin: 0 10px;
}

.search-box {
	font-size: 0.8rem;
	color: #707070;
}

.content-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 0;
	margin-bottom: 10vw;
}

#search-column {
	flex: 30%;
	margin-right: 30px;
}

#results-column {
	flex: 65%;
}

#results {
	min-height: 600px;
}

.filter-box {
	min-height: 300px;
}

/* Jobs Content */

#recent-jobs h2 {
	display: none;
}

.job-link {
	color: #205493;
	text-decoration: none;
	font-weight: 600;
}

th {
	text-align: left;
	background: rgba(17, 46, 81, 0.2);
	font-weight: 400;
}

.location,
.open-date,
.closing-date {
	font-size: 16px;
}

#jobs-form input[type="text"] {
	width: 100%;
	box-sizing: border-box;
	padding: 0.5rem;
	font-size: 18px;
}

div.search {
	margin-bottom: 4vw;
}

.filter {
	font-size: 17px;
	/*! padding: 1rem; */
}

div.filter-box {
	float: none;
	/*! margin-right: 0.75rem; */
	cursor: pointer;
	padding: .75em 1em;
	padding-top: 0;
}

ul.filter li input {
	float: none;
	margin-right: 0.75rem;
	cursor: pointer;
}


ul.filter li {
	margin: 0.65rem 0;
	display: flex;
	flex-direction: row;
	float: none;
}

ul.filter li label {
	cursor: pointer;
	width: 100%;
	/*! display: inline-block; */
	overflow: hidden;
	text-overflow: ellipsis;
	/*! color: red; */
}

.filter-group-title {
	font-weight: 600;
	margin-bottom: 0.5rem;
}

#jobs-form {
	margin-top: 1.5rem;
}

#campaigns {
	border-top: 1px solid #99948C;
}

#PageUpPeopleLink,
#campaigns {
	padding-left: 1rem;
	padding-top: 2rem;

}

@media (max-width: 800px) {

	#search-column,
	#results-column {
		flex: 100%;
		padding-right: 0;
		max-width: 100%;
		margin-right: 0;
	}

	.navbar-logo img {
		max-width: 50vw;
	}

	.button {
		font-size: 15px;
		padding: 1rem;
		margin: 0 5px;
		padding: 0.6rem 0.5rem;
	}

	table,
	tbody,
	th,
	td,
	tr {
		display: block
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		display: block;
	}

	td {
		border: none;
		position: relative;
		padding: 1rem 0;
	}

	#jobs-form td {
		padding: 1.2rem 1rem;
		border: none;
	}

	td:before {
		position: absolute;
		top: 0;
		left: 1rem;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		font-weight: 600;
		font-size: 0.85rem;
	}

	tr.summary td {
		border-bottom: 1px solid #99948C !important;
		;
		margin-top: 0;
	}

	td:nth-of-type(1) {
		margin-top: 1rem;
	}

	td:nth-of-type(1):before {
		content: "Position"
	}

	td:nth-of-type(2):before {
		content: "Location"
	}

	td:nth-of-type(3):before {
		content: "Open Date"
	}

	td:nth-of-type(4):before {
		content: "Close Date"
	}

	.summary td:before {
		content: "Description"
	}
}


@media (max-width: 400px) {

	#action-buttons {
		justify-content: space-evenly;
	}
}


/* END BODY */

/* FOOTER */

footer {
	background: #112E51;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	padding: 40px;
	text-align: right;

}

.footer-address,
.footer-social {
	max-width: 100%;
}

.footer-address h4 {
	color: white;
	font-weight: 600;
	margin: 15px 0;
	font-size: 1.1rem;
}

.contact {
	padding: 0;
}

.contact li {
	list-style-type: none;
	font-size: 0.9rem;
	margin: 5px 0;
}


.footer-social {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px;
	margin: 0 auto;
}

.footer-social a {
	background: none;
	margin: 0 1rem;
}

.footer-social a svg {
	width: 0.65em;
	font-size: 2rem;
}

#twitter {
	width: 0.75em;
}

#youtube {
	width: 0.8em;
}

.legal,
.legal a {
	text-align: right;
	color: white;
	font-size: 0.8em;
}

.legal {
	margin-top: 10px;
}

@media (max-width: 741px) {
	.footer {
		padding: 20px;
	}

	.footer-address,
	.legal {
		text-align: left;
	}

	.footer-address h4 {
		font-size: 1rem;
	}

	.contact li {
		font-size: 0.8rem;
	}

	.footer-social {
		padding: 1vw 0 4vw 0;
		justify-content: space-between;
	}

	.footer-social a {
		margin: 3.5vw;
	}
}

/* END FOOTER */